*{
    font-family: 'Times New Roman', Times, serif;
   
}

html{

    margin-bottom: 100px;
}

:root{
    --yellow: rgb(250, 218, 54);
    --title_size: 4rem;
}

body {
    background-color: rgb(43, 42, 42);
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://wallpaperaccess.com/full/1554171.jpg");
    background-size: cover;
  
    margin: 0;
}

.nav_div {
    position: sticky;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    backdrop-filter: blur(15px);
    overflow: hidden;


}

.nav_div ul{
    display: flex;
}
.nav_div ul li{
  list-style: none;
}

.navbar_links {
    position: relative;
    align-self: center;
    right: -5%;
    display: flex;
    flex-wrap: wrap;

}

nav a {

    background: linear-gradient(to right, rgb(158, 133, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-left: 35px;
    flex-wrap: wrap;

}

nav a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0px;
    height: 2px;
    background: linear-gradient(to right, rgb(166, 139, 4), rgb(172, 121, 3));
    transition: .5s;
}

nav a:hover::before {

    width: 100%;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);

}





#home_div {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin: 100px 0px 0px 0px;

}

#main_img {

    width: 800px;
    filter: drop-shadow(3px 5px 20px rgb(250, 218, 54));
    margin: 0px 0px 0px 0px;
    pointer-events: none;
    opacity: 0;
    animation: fade 1.5s ease-in 0.3s forwards;
}



#info_div {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0px 0px 0px 50px;
    align-items: center;
    font-size: 20px;
    flex-direction: column;


}


#info_div li:nth-child(2) {

    font-size: 50px;
    background: linear-gradient(to top, rgb(244, 215, 67), rgb(137, 92, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    opacity: 0;
    animation: fade 1.5s ease-in 0.3s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;

    }
}

html {
    scroll-behavior: smooth;
}

#home_section {
    position: relative;
    top: -100px;
}

#button_div button {

    font-size: 20px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    transition: .3s;
    background: linear-gradient(to right, rgb(208, 174, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}

#button_div button a {

    text-decoration: none;
    color: black;
    font-weight: 600;

}

#button_div button:hover {

    box-shadow: 0px 5px 5px rgba(234, 204, 7, 0.264);
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
}


#icons_div img {

    width: 45px;
    margin: 10PX;
    transition: .2s;

}

#icons_div img:hover {

    width: 50px;

}

#experianced_div {

    display: flex;
    list-style: inside;
    text-align: left;
    justify-content: center;
    font-size: 25px;
    flex-wrap: wrap;

}

#experianced_div div {


    margin: 0px 25px 0px 25px;
    

}

#title h1 {
    margin-top: 250px;
    text-align: center;
    font-size: var(--title_size);
    background: linear-gradient(to right, rgb(208, 174, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;

}





.toggle_button {

    position: absolute;
    width: 30px;
    height: 21px;
    display: none;
    top: 1.5rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;

}

.toggle_button .bar {

    height: 3px;
    width: 100%;
    background-color: rgb(250, 218, 54);
    border-radius: 10px;

}

body.light_mode{

    background-image: url("https://images.unsplash.com/photo-1482977036925-e8fcaa643657?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3072&q=80");

}

.navbar_links img{

width: 1.5rem;
cursor: pointer;
margin: 0rem 0rem 0rem 1.5rem;


}

#front_end_div li, #backend_div li{
    list-style: circle;
}




/* nav bar style */
header{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

nav{
   
    display: flex;
    justify-content: space-around;   
    backdrop-filter: blur(15px);
  
    
}

.navbar{
    display: flex;
    align-items: center;
    color: var(--yellow);
    

}


.navbar li{
    margin: 0px 10px 0px 10px;
    display: flex;
    align-self: center;
    
    
}

.navbar li a{
    font-size: 1.5rem;
}


#menu{
   color: var(--yellow);
   font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

#xmark{
    color: var(--yellow);
    font-size: 1.5rem;
   cursor: pointer;
   display: none;
}
.light_and_dark_div {
    display: flex;
    align-items: center;
    
    
}

.light_and_dark_div img,i {
   
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.logo {
    background: linear-gradient(to top, rgb(244, 215, 67), rgb(137, 92, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Rubik Storm', cursive;
}

.logo:hover::before {

    width: 0%;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);

}

/* Contact Form Start___________________________*/

.contact_form_div{

    width: 25rem;
    text-align: center;
    margin: auto;
    margin-top: 10rem;

 
}

.contact_form{
   
display: flex;
flex-direction: column;



}

input, textarea{

    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    margin: 4px;
    padding: 10px;
      -webkit-text-fill-color: rgb(208, 174, 5) !important;
}

.submit_button{

    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  
    transition: .5s;
    background: linear-gradient(to right, rgb(208, 174, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;

}

.submit_button:hover{
    box-shadow: 0px 5px 5px rgba(234, 204, 7, 0.264);
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;

}

.contact_title{
    background: linear-gradient(to right, rgb(208, 174, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--title_size);

}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
  -webkit-text-fill-color: rgb(208, 174, 5) !important;
}

textarea{

    -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
    -webkit-text-fill-color: rgb(208, 174, 5) !important;
    margin-bottom: 1rem;
}

/* Contact Form End___________________________*/

/* About Me start___________________________*/

.about_div {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding-left: 17rem;
    padding-right: 17rem;
   

}
.about_div h1{

    font-size: var(--title_size);
    background: linear-gradient(to right, rgb(208, 174, 5), rgb(172, 121, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.about_div p {
    font-size: 1.5rem;
    margin-top: 80px;
    
    display: flex;
    flex-wrap: wrap;
    
}